/* line 5, app/assets/stylesheets/dashboard-992.scss */
#layoutSidenav #layoutSidenav_nav {
  transform: translateX(0);
}

/* line 9, app/assets/stylesheets/dashboard-992.scss */
#layoutSidenav #layoutSidenav_content {
  margin-left: 0;
}

/* line 15, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav .collapse {
  display: block;
}

/* line 19, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  flex-basis: 100px;
  transform: translateX(0);
}

/* line 23, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link {
  flex-direction: column;
  padding: 10px 5px;
}

/* line 28, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link span {
  font-size: 11.7px;
}

/* line 32, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link .sidenav-collapse-arrow {
  display: none;
}

/* line 36, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link {
  text-align: center;
  justify-content: center;
}

/* line 41, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link-icon {
  margin-right: 0;
}

/* line 45, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_nav .sidenav-menu-nested {
  margin-left: 0;
}

/* line 50, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_content {
  margin-left: 0;
}

/* line 53, app/assets/stylesheets/dashboard-992.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
  display: none;
}
