/* line 4, app/assets/stylesheets/dashboard.scss */
.banner-header {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #d1d1d1;
}

/* line 10, app/assets/stylesheets/dashboard.scss */
#layoutSidenav {
  display: flex;
}

/* line 13, app/assets/stylesheets/dashboard.scss */
#layoutSidenav #layoutSidenav_nav {
  flex-basis: 270px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1038;
  transform: translateX(-270px);
}

/* line 21, app/assets/stylesheets/dashboard.scss */
#layoutSidenav #layoutSidenav_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 65px);
  margin-left: -270px;
}

/* line 34, app/assets/stylesheets/dashboard.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  transform: translateX(0);
}

/* line 38, app/assets/stylesheets/dashboard.scss */
.sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
  /* line 57, app/assets/stylesheets/dashboard.scss */
  #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }
  /* line 61, app/assets/stylesheets/dashboard.scss */
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
  }
  /* line 67, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav .collapse {
    display: block;
  }
  /* line 71, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    flex-basis: 100px;
    transform: translateX(0);
  }
  /* line 75, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link {
    flex-direction: column;
    padding: 10px 5px;
  }
  /* line 80, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link span {
    font-size: 11.7px;
  }
  /* line 84, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link .sidenav-collapse-arrow {
    display: none;
  }
  /* line 88, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link {
    text-align: center;
    justify-content: center;
  }
  /* line 93, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav #layoutSidenav_nav .nav-link-icon {
    margin-right: 0;
  }
  /* line 97, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav #layoutSidenav_nav .sidenav-menu-nested {
    margin-left: 0;
  }
  /* line 102, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
  }
  /* line 105, app/assets/stylesheets/dashboard.scss */
  .sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
}

/* line 113, app/assets/stylesheets/dashboard.scss */
.nav-fixed .topnav {
  z-index: 1039;
}

/* line 117, app/assets/stylesheets/dashboard.scss */
.nav-fixed #layoutSidenav #layoutSidenav_nav {
  transition: 0.4s linear;
  width: 270px;
  background: #fff;
  border-right: 1px solid #d1d1d1;
  z-index: 1038;
}

/* line 124, app/assets/stylesheets/dashboard.scss */
.nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav .sidenav-menu {
  overflow-y: auto;
}

@media (max-width: 767.98px) {
  /* line 131, app/assets/stylesheets/dashboard.scss */
  .nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 200px;
    flex-basis: 200px;
  }
  /* line 136, app/assets/stylesheets/dashboard.scss */
  #layoutSidenav #layoutSidenav_content {
    margin-left: -200px;
  }
}

/* line 141, app/assets/stylesheets/dashboard.scss */
.nav .nav-link .nav-link-icon,
.sidenav-menu .nav-link .nav-link-icon {
  margin-right: 10px;
}

/* line 146, app/assets/stylesheets/dashboard.scss */
.topnav {
  height: 65px;
  z-index: 1039;
}

/* line 150, app/assets/stylesheets/dashboard.scss */
.topnav .navbar-brand {
  margin-right: 0;
  margin-left: 1rem;
}

/* line 155, app/assets/stylesheets/dashboard.scss */
.topnav .navbar-brand img {
  width: 205px;
}

/* line 159, app/assets/stylesheets/dashboard.scss */
.topnav #sidebarToggle {
  padding: 2px 5px 0 5px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  font-size: 19px;
}

/* line 167, app/assets/stylesheets/dashboard.scss */
.sidenav {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 65px);
  flex-wrap: nowrap;
}

/* line 173, app/assets/stylesheets/dashboard.scss */
.sidenav .sidenav-menu {
  flex-grow: 1;
}

/* line 176, app/assets/stylesheets/dashboard.scss */
.sidenav .sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 15px;
}

/* line 181, app/assets/stylesheets/dashboard.scss */
.sidenav .sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  font-weight: normal;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}

/* line 189, app/assets/stylesheets/dashboard.scss */
.sidenav .sidenav-menu .nav .nav-link span {
  transition: 0.4s linear;
}

/* line 193, app/assets/stylesheets/dashboard.scss */
.sidenav .sidenav-menu .nav .nav-link .nav-link-icon {
  font-size: 0.9rem;
}

/* line 197, app/assets/stylesheets/dashboard.scss */
.sidenav .sidenav-menu .nav .nav-link .sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}

/* line 203, app/assets/stylesheets/dashboard.scss */
.sidenav .sidenav-menu .nav .nav-link.collapsed .sidenav-collapse-arrow {
  transform: rotate(-90deg);
}

/* line 208, app/assets/stylesheets/dashboard.scss */
.sidenav .sidenav-menu .nav .sidenav-menu-nested {
  margin-left: 15px;
  margin-top: 0;
  flex-direction: column;
}

/* line 217, app/assets/stylesheets/dashboard.scss */
.sidenav-light {
  background-color: #fff;
}

/* line 221, app/assets/stylesheets/dashboard.scss */
.sidenav-light .sidenav-menu .nav-link, .sidenav-light .sidenav-menu .nav-link .nav-link-icon, .sidenav-light .sidenav-menu .nav-link .sidenav-collapse-arrow {
  color: #1d2b3a;
}

/* line 225, app/assets/stylesheets/dashboard.scss */
.sidenav-light .sidenav-menu .nav-link:hover {
  background: #f2f2f2;
}

/* line 229, app/assets/stylesheets/dashboard.scss */
.sidenav-light .sidenav-menu .nav-link:hover, .sidenav-light .sidenav-menu .nav-link.active, .sidenav-light .sidenav-menu .nav-link.active .nav-link-icon, .sidenav-light .sidenav-menu .nav-link:hover .nav-link-icon, .sidenav-light .sidenav-menu .nav-link:hover .sidenav-collapse-arrow .fas, .sidenav-light .sidenav-menu .nav-link.active .sidenav-collapse-arrow .fas {
  color: #79589f;
}
