/* line 4, app/assets/stylesheets/datatables.scss */
table.dataTable > tbody > tr.child ul.dtr-details > li {
  border-color: #d1d1d1;
}

/* line 8, app/assets/stylesheets/datatables.scss */
.custom-select-sm {
  padding-right: 1rem;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 6'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.2rem center/8px 12px;
}

/* line 13, app/assets/stylesheets/datatables.scss */
div.dataTables_wrapper div.dataTables_filter {
  display: inline-block;
}

/* line 16, app/assets/stylesheets/datatables.scss */
div.dataTables_wrapper div.dataTables_filter label {
  margin-bottom: 0;
  position: relative;
}

/* line 24, app/assets/stylesheets/datatables.scss */
div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
}

/* line 29, app/assets/stylesheets/datatables.scss */
div.dataTables_wrapper div.dataTables_length label {
  margin-bottom: 0;
}

/* line 32, app/assets/stylesheets/datatables.scss */
div.dataTables_wrapper div.dataTables_length select {
  border-radius: 3px;
  padding: 4px 15px 5px 6px !important;
  border-radius: 3px;
  height: 30px;
}

/* line 41, app/assets/stylesheets/datatables.scss */
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"] {
  padding: 0;
}

/* line 45, app/assets/stylesheets/datatables.scss */
div.dt-buttons {
  padding-right: 10px;
  width: auto;
  margin-bottom: 0;
}

/* line 51, app/assets/stylesheets/datatables.scss */
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0;
}

@media (max-width: 634.98px) {
  /* line 56, app/assets/stylesheets/datatables.scss */
  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
    width: 100%;
  }
  /* line 61, app/assets/stylesheets/datatables.scss */
  div.dt-buttons {
    margin-bottom: 10px;
  }
}

/* line 69, app/assets/stylesheets/datatables.scss */
table.dataTable.dtr-inline.collapsed > tbody tr > th.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody tr > td.dtr-control:before {
  content: '\f055';
  font-family: "Font Awesome 5 Free";
  box-shadow: none;
  color: #79589f;
  font-weight: 600;
  top: calc(50% - 0.5em);
  margin-top: 0;
  border: 0;
  background-color: transparent !important;
}

/* line 84, app/assets/stylesheets/datatables.scss */
table.dataTable.dtr-inline.collapsed > tbody tr.parent > th.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody tr.parent > td.dtr-control:before {
  content: '\f056' !important;
}

/* line 91, app/assets/stylesheets/datatables.scss */
table.dataTable > tbody > tr.child ul.dtr-details {
  display: block;
}

/* line 95, app/assets/stylesheets/datatables.scss */
.dtr-title:after {
  content: ":";
}

@media (max-width: 991.98px) {
  /* line 100, app/assets/stylesheets/datatables.scss */
  .dt-buttons .btn {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* line 106, app/assets/stylesheets/datatables.scss */
.table-bordered thead th, .table-bordered thead td {
  border-bottom-width: 0px;
  border-top-width: 0px;
}

/* line 114, app/assets/stylesheets/datatables.scss */
.sorting:after, .sorting:before, .sorting_asc:after, .sorting_asc:before, .sorting_desc:after, .sorting_desc:before {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
}

/* line 121, app/assets/stylesheets/datatables.scss */
.sorting:after, .sorting_asc:after, .sorting_desc:after {
  right: 0.2em !important;
  content: '\f30c' !important;
}

/* line 126, app/assets/stylesheets/datatables.scss */
.sorting:before, .sorting_asc:before, .sorting_desc:before {
  right: 0.8em !important;
  content: '\f309' !important;
}

/* line 133, app/assets/stylesheets/datatables.scss */
.table.dataTable > tbody > tr.child span.dtr-title {
  font-weight: 500;
}

/* line 137, app/assets/stylesheets/datatables.scss */
.search-label {
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 24px;
  top: 12px;
  font-size: 14px;
  color: #90949c;
}
