/* line 5, app/assets/stylesheets/signed_in-992.scss */
.navbar .dropdown-toggle {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 11, app/assets/stylesheets/signed_in-992.scss */
.navbar .dropdown-toggle .header-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 8px;
}
