/* line 5, app/assets/stylesheets/signed_in.scss */
.pricing .card {
  border: 1px solid #d1d1d1;
  border-radius: 0;
}

/* line 15, app/assets/stylesheets/signed_in.scss */
.pricing .plan-main .card, .pricing .single-plan:nth-child(3) .card {
  border-color: #79589f;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* line 19, app/assets/stylesheets/signed_in.scss */
.pricing .plan-main .card-header, .pricing .single-plan:nth-child(3) .card-header {
  background-color: #79589f;
  color: #fff;
}

/* line 25, app/assets/stylesheets/signed_in.scss */
.pricing .card-header {
  border-radius: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-bottom: 1px solid #d1d1d1;
}

/* line 33, app/assets/stylesheets/signed_in.scss */
.pricing .card-title, .pricing .card-price {
  font-weight: 500;
  line-height: 1.3;
}

/* line 38, app/assets/stylesheets/signed_in.scss */
.pricing .card-price {
  font-size: 3rem;
}

/* line 42, app/assets/stylesheets/signed_in.scss */
.pricing .card-price .period {
  font-size: 0.9rem;
}

/* line 46, app/assets/stylesheets/signed_in.scss */
.pricing .text-muted {
  opacity: 0.7;
}

/* line 52, app/assets/stylesheets/signed_in.scss */
.pricing .btn-group .btn:not(:first-child) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 57, app/assets/stylesheets/signed_in.scss */
.pricing .btn-group .btn:not(:last-child) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 63, app/assets/stylesheets/signed_in.scss */
.pricing .tab-content > .active {
  display: flex;
}

/* line 67, app/assets/stylesheets/signed_in.scss */
.pricing .btn-choose-plan {
  border-radius: 0;
}

@media (max-width: 1350px) {
  /* line 74, app/assets/stylesheets/signed_in.scss */
  .pricing .card-price {
    font-size: 2.3rem;
  }
}

/* line 79, app/assets/stylesheets/signed_in.scss */
#spinner {
  display: none;
  position: absolute;
  top: calc(50vh - 32px);
  left: calc(50vw - 32px);
  z-index: 9999;
}

/* line 88, app/assets/stylesheets/signed_in.scss */
.payment-method {
  position: relative;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
}

/* line 94, app/assets/stylesheets/signed_in.scss */
.payment-col:not(:last-child) .payment-method {
  margin-bottom: 10px;
}

/* line 98, app/assets/stylesheets/signed_in.scss */
.card-icon {
  width: 10px;
  opacity: 0.7;
  -webkit-text-stroke: 0.9px;
  -webkit-text-stroke-color: #fff;
}

/* line 105, app/assets/stylesheets/signed_in.scss */
.options-dropdown .dropdown-toggle {
  cursor: pointer;
}

/* line 109, app/assets/stylesheets/signed_in.scss */
.options-dropdown .dropdown-toggle::after {
  display: none;
}

/* line 116, app/assets/stylesheets/signed_in.scss */
.avatar-group, .avatar-upload .avatar-edit input + label, .avatar-upload .avatar-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 122, app/assets/stylesheets/signed_in.scss */
.avatar-upload {
  position: relative;
}

/* line 125, app/assets/stylesheets/signed_in.scss */
.avatar-upload .avatar-edit {
  position: absolute;
  right: 20px;
  z-index: 1;
  top: 10px;
}

/* line 131, app/assets/stylesheets/signed_in.scss */
.avatar-upload .avatar-edit input {
  display: none;
}

/* line 134, app/assets/stylesheets/signed_in.scss */
.avatar-upload .avatar-edit input + label {
  background: #fff;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* line 143, app/assets/stylesheets/signed_in.scss */
.avatar-upload .avatar-edit input + label:hover {
  background: #ededed;
}

/* line 146, app/assets/stylesheets/signed_in.scss */
.avatar-upload .avatar-edit input + label i {
  font-size: 20px;
  color: #79589f;
}

/* line 154, app/assets/stylesheets/signed_in.scss */
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 6px solid #d1d1d1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

/* line 163, app/assets/stylesheets/signed_in.scss */
.avatar-upload .avatar-preview img {
  max-width: 100%;
  max-height: 100%;
}

/* line 172, app/assets/stylesheets/signed_in.scss */
.first-letter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #79589f;
  color: #fff;
}

/* line 179, app/assets/stylesheets/signed_in.scss */
.first-letter.profile {
  width: 150px;
  height: 150px;
  font-size: 100px;
}

/* line 185, app/assets/stylesheets/signed_in.scss */
.first-letter.edit-profile {
  width: 180px;
  height: 180px;
  font-size: 100px;
}

/* line 191, app/assets/stylesheets/signed_in.scss */
.first-letter.header {
  width: 45px;
  height: 45px;
  font-size: 25px;
  margin-right: 8px;
  border-radius: 50%;
}

/* line 200, app/assets/stylesheets/signed_in.scss */
.img-user {
  width: 150px;
  height: 150px;
}

/* line 205, app/assets/stylesheets/signed_in.scss */
.col-profile {
  background: url("/user_background.png") right/cover no-repeat #f9f9f9;
  place-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

/* line 216, app/assets/stylesheets/signed_in.scss */
.payment .card {
  border: 1px solid #d1d1d1;
  border-radius: 0;
}

/* line 220, app/assets/stylesheets/signed_in.scss */
.payment .card:not(:last-child) {
  margin-bottom: 20px;
}

/* line 225, app/assets/stylesheets/signed_in.scss */
.payment .card-footer {
  background-color: #fff;
  border-top: 1px solid #d1d1d1;
}

@media (min-width: 992px) {
  /* line 236, app/assets/stylesheets/signed_in.scss */
  .navbar .dropdown-toggle {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 242, app/assets/stylesheets/signed_in.scss */
  .navbar .dropdown-toggle .header-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 8px;
  }
}

@media (max-width: 991.98px) {
  /* line 255, app/assets/stylesheets/signed_in.scss */
  .navbar .dropdown-toggle::after {
    display: none;
  }
  /* line 259, app/assets/stylesheets/signed_in.scss */
  .navbar .dropdown-menu {
    display: block;
    padding: 0;
    border: 0;
  }
  /* line 264, app/assets/stylesheets/signed_in.scss */
  .navbar .dropdown-menu .dropdown-item {
    padding-left: 5px;
    padding-right: 5px;
  }
  /* line 268, app/assets/stylesheets/signed_in.scss */
  .navbar .dropdown-menu .dropdown-item i {
    display: none;
  }
  /* line 275, app/assets/stylesheets/signed_in.scss */
  .single-plan {
    order: 2;
  }
  /* line 279, app/assets/stylesheets/signed_in.scss */
  .plan-main, .pricing .single-plan:nth-child(3) {
    order: 1;
  }
  /* line 283, app/assets/stylesheets/signed_in.scss */
  .card-image {
    width: 204px;
  }
  /* line 287, app/assets/stylesheets/signed_in.scss */
  .img-user {
    width: 100px;
    height: 100px;
  }
  /* line 293, app/assets/stylesheets/signed_in.scss */
  .first-letter.profile {
    width: 100px;
    height: 100%;
    font-size: 50px;
  }
  /* line 298, app/assets/stylesheets/signed_in.scss */
  .first-letter.header {
    display: none;
  }
}

@media (max-width: 575.98px) {
  /* line 305, app/assets/stylesheets/signed_in.scss */
  .col-profile {
    background-image: none;
  }
}
