<div class="container-fluid container-gray py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-dark mt-1 text-center"> Admin </h2>
                        <div class="row">
                          <div class="col-12">
                             <a class="btn btn-primary btn-block mt-1" href="#">Users</a>
                             <a class="btn btn-primary btn-block mt-1" href="#">Categories</a>
                             <a class="btn btn-primary btn-block mt-1" href="#">Facilities</a>
                          </div>
                        </div>    
                    </div>
                </div>
            </div>
            
            <div class="col-xl-8">
                <div class="card mb-3">
                    <div class="card-body">
                    <h3 class="mb-3">Statistics</h3>
                    <div class="row">
                      <div class="col-md-4 mb-2">
                        <div class="card p-2 text-center">
                          <p>Total Users</p>
                          <h3>40</h3>
                        </div>
                      </div>
                      <div class="col-md-4 mb-2">
                        <div class="card p-2 text-center">
                          <p>Total Users</p>
                          <h3>40</h3>
                        </div>
                      </div>
                      <div class="col-md-4 mb-2">
                        <div class="card p-2 text-center">
                          <p>Total Users</p>
                          <h3>40</h3>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 mb-2">
                        <div class="card p-2 text-center">
                          <p>Total Users</p>
                          <h3>40</h3>
                        </div>
                      </div>
                      <div class="col-md-4 mb-2">
                        <div class="card p-2 text-center">
                          <p>Total Users</p>
                          <h3>40</h3>
                        </div>
                      </div>
                      <div class="col-md-4 mb-2">
                        <div class="card p-2 text-center">
                          <p>Total Users</p>
                          <h3>40</h3>
                        </div>
                      </div>
                    </div>
                </div>
                </div>
                <div class="card">
                    <div class="card-body">
                  <h3 class="mb-3">All Users</h3>
                  <table class="table table-bordered">
                    <tbody><tr>
                      <th>Name</th>
                       <th>Email</th>
                       <th>Phone Number</th>
                    </tr>
                        <tr>
                          <td>mauzz</td>
                          <td>maueezahmed@gmail.com</td>
                          <td>123445</td>
                        </tr>
                       
                  </tbody></table>
                </div>
              </div>
            </div>
        </div>   
    </div>    
</div>