<div class="banner-header bg-white p-3">
  <div class="row align-items-center">
    <div class="col-md-12 text-center text-md-left">
      <h5 class="lh-34 mb-0">Admin Dashboard</h5>
      <%= render_breadcrumbs %>
    </div>
  </div>
</div>
<div class="container container-admin px-md-4 px-2">
  <h5 class="mb-4">Statistics</h5>
  <div class="row card-stats">
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1><%= User.normal_users %></h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card text-center">
        <h4>TOTAL USERS</h4>
        <h1>40</h1>
      </div>
    </div>
  </div>
</div>