<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h3 class="mb-3">All Users</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name%></td>
              <td><%= user.email%></td>
              <td><%= user.phone_number%></td>
            </tr>
          <% end%>
        </tbody>
      </table>
    </div>
  </div>
</div>



