<div class="row">
  <div class="col-md-6"><h2>All Users</h2></div>
</div>
<table class="table table-striped mt-lg">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


