<div class="d-flex justify-content-between form-buttons">
  <button type="button" class="btn btn-outline-primary back"><i class="fas fa-arrow-left mr-2"></i>Back</button>
  <button type="button" class="btn btn-primary next"">Next<i class="fas fa-arrow-right ml-2"></i></button>
</div>