<div class="c-step c-step-1">
  <%= render 'steps_heading', h1:'active', h2:'', h3:'', h4:'', h5:'' %>
  <div class="form-row row-cols-1 row-cols-sm-2">
    <div class="form-group form-floating col">
      <input type="email" id="email" required>
      <label for="email">Email</label>
      <div class="invalid-feedback">
        Please provide a valid Email.
      </div>
    </div>
    <div class="form-group form-floating col">
      <input type="password" id="password" minlength="6" required>
      <label for="password">Password</label>
      <div class="invalid-feedback">
        Password length should me minimum 6 characters.
      </div>
    </div>
    <div class="form-group form-floating col">
      <input type="tel" id="phone" maxlength="14" pattern="\(\d{3}\)[ ]?\d{3}[-]?\d{4}" required>
      <label for="phone">Phone</label>
      <div class="invalid-feedback">
        Please match the requested format (123) 456-7890.
      </div>
    </div>
    <div class="form-group form-floating col">
      <input type="url" id="website" required>
      <label for="website">Website</label>
      <div class="invalid-feedback">
        Please provide the valid Website URL.
      </div>
    </div>
  </div>
  <%= render 'form_buttons', step: '1' %>
</div>