<div class="c-step c-step-4 hidden">
  <%= render 'steps_heading', h1:'completed', h2:'completed', h3:'completed', h4:'active', h5:'' %>
  <div class="form-row row-cols-1 row-cols-sm-2">
    <div class="form-group form-floating col">
      <input type="text" id="name">
      <label for="name">Name</label>
    </div>
    <div class="form-group form-floating col">
      <input type="text" id="name">
      <label for="name">Name</label>
    </div>
    <div class="form-group form-floating col">
      <input type="text" id="name">
      <label for="name">Name</label>
    </div>
    <div class="form-group form-floating col">
      <input type="text" id="name">
      <label for="name">Name</label>
    </div>
  </div>
  <%= render 'form_buttons', step: '4' %>
</div>