<div class="c-step c-step-5 hidden">
  <%= render 'steps_heading', h1:'completed', h2:'completed', h3:'completed', h4:'completed', h5:'active' %>
  <div class="form-row row-cols-1 row-cols-sm-2">
    <div class="form-group form-floating col">
      <input type="text" id="name">
      <label for="name">Name</label>
    </div>
    <div class="form-group form-floating col">
      <input type="text" id="name">
      <label for="name">Name</label>
    </div>
    <div class="form-group form-floating col">
      <input type="text" id="name">
      <label for="name">Name</label>
    </div>
    <div class="form-group form-floating col">
      <input type="text" id="name">
      <label for="name">Name</label>
    </div>
  </div>
  <div class="d-flex justify-content-between form-buttons">
    <button type="button" class="btn btn-outline-primary back"><i class="fas fa-arrow-left mr-2"></i>Back</button>
    <button type="submit" class="btn btn-primary finish">Finish</button>
  </div>
</div>