<div class="c-step c-step-2 hidden">
  <%= render 'steps_heading', h1:'completed', h2:'active', h3:'', h4:'', h5:'' %>
  <div class="form-row row-cols-1 row-cols-sm-2">
    <div class="form-group form-floating col">
      <input type="text" id="name" class="required">
      <label for="name">Name</label>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
    <div class="form-group form-floating col">
      <input type="text" id="name" class="required">
      <label for="name">Name</label>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
    <div class="form-group form-floating col">
      <input type="text" id="name" class="required">
      <label for="name">Name</label>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
    <div class="form-group form-floating col">
      <input type="text" id="name" class="required">
      <label for="name">Name</label>
      <div class="invalid-feedback">
        Please fill out this field.
      </div>
    </div>
  </div>
  <%= render 'form_buttons', step: '2' %>
</div>