<div class="page-center">
  <div class="card mw-1000">
    <div class="card-header">
      Multi-Submit Multi-Step Form
    </div>
    <div class="card-body">
      <%= render 'steps_heading', h1:'completed', h2:'completed', h3:'completed', h4:'active', h5:'' %>
      <form action="/multisubmit_multistep_step_5">
        <div class="form-row row-cols-1 row-cols-sm-2">
          <div class="form-group form-floating col">
            <input type="text" id="name">
            <label for="name">Name</label>
          </div>
          <div class="form-group form-floating col">
            <input type="text" id="name">
            <label for="name">Name</label>
          </div>
          <div class="form-group form-floating col">
            <input type="text" id="name">
            <label for="name">Name</label>
          </div>
          <div class="form-group form-floating col">
            <input type="text" id="name">
            <label for="name">Name</label>
          </div>
        </div>
        <div class="d-flex justify-content-between form-buttons">
          <a href="/multisubmit_multistep_step_3" class="btn btn-outline-primary"><i class="fas fa-arrow-left mr-2"></i>Back</a>
          <button type="submit" class="btn btn-primary">Next<i class="fas fa-arrow-right ml-2"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>