/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require sweetalert
 *= require_tree .
 *= require toastr_rails
 *= require_self
 */

body,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
input,
li,
ul,
ol,
table,
td,
tr,
th,
fieldset,
font,
strong,
b {
  font-family: Poppins !important;
}

.container-main {
  background: #f9f9f9 !important;
  min-height: calc(100vh - 454px);
}

.container-main-sign {
  background: #f9f9f9 !important;
  min-height: calc(100vh - 164px);
}

.container-main-admin {
  background: #f9f9f9 !important;
  min-height: calc(100vh);
}

.container-main-footer {
  background: #f9f9f9 !important;
  min-height: calc(100vh - 67px);
}

.card {
  background-color: #fff !important;
}

.footer-bg-color {
  background-color: #ffffff;
}

.footer-bg-color-admin {
  background-color: #fff;
}

.social-size {
  font-size: 24px;
}

.setting-headig {
  background: #f1f4f5;
}

.setting-links ul a li {
  border-bottom: 1px solid #dadfe2;
  line-height: 14px;


}

a.active li {
  border-left: 2px solid #499df3 !important;
  text-decoration: none !important;
  color: #79589f !important;
}

.setting-links ul a li {
  color: #969ea2;
  padding: 15px 10px;
  display: inline-block;
  width: 100%;

}

.setting-profile-image {
  border-radius: 50%;
  display: block;
  backface-visibility: hidden;
  opacity: 1;

}

.setting-profile-image:hover {
  opacity: 0.1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;

}

img#blah:hover {
  cursor: pointer;
}

.profile-change-icon {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto !important;
}

.profile-change-icon:hover .middle {
  opacity: 1 !important;

}

.profile-show-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto !important;
}

.profile-descriptin {
  border-bottom: 1px solid #dadfe2;
}

.navbar {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.17);
}

@media (min-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
}

.text-white {
  color: #fff !important;
}


.lh-35 {
  line-height: 35px;
}

.form-group {
  margin-bottom: 10px !important;
}

.footer-large {
  padding-top: 58px;
  padding-bottom: 48px;
}

.footer-small {
  padding-top: 23px;
  padding-bottom: 23px;
}

.footer-large h4 {
  letter-spacing: 1px;
  font-weight: 500;
}

.footer-large a {
  color: #1d2b3a !important;
  line-height: 34px;
}

.footer-large a:hover,
.nav-link:hover,
.nav-link:focus {
  color: #79589f !important;
}

.nav-link.btn:hover,
.nav-link.btn:focus {
  color: #fff !important;
}

.btn-primary:hover {
  background-image: linear-gradient(#FF972B, #F92B49) !important;
}

@media (min-width: 768px) {
  .submenu-link::after {
    z-index: -1 !important;
  }

  .side-small {
    transition: 0.3s;
    width: 6.5%;
    position: fixed;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-s {
    max-width: 100% !important;
  }
}

@media (max-width: 576px) {
  .user-header {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .user-header {
    padding: 20px;
  }

  .user-header img {
    width: 100px;
  }

  .navbar {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .container-top {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}

@media (max-width: 370px) {
  div.dataTables_wrapper div.dataTables_filter input {
    display: block !important;
    width: 100% !important;
  }

  div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0em;
  }
}

@media (max-width: 992px) {

  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    right: 5px !important;
  }

  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:before {
    right: 15px !important;
  }

  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:after {
    font-size: 25px !important;
    bottom: 10px !important;
  }

  .table-users td,
  .table-users thead th {
    padding: 10px 5px;
    font-size: 12px !important;
  }

  .user-body {
    padding: 20px 15px !important;
  }

  .container-top {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}

@media (max-width: 767px) {
  .dashboard-row {
    display: none;
  }

  .submenu-link::after {
    z-index: -1 !important;
  }

  .row-user-fields {
    margin-top: 30px;
  }

  .pr-md-15 {
    padding-right: 15px !important;
  }
}

@media (min-width: 992px) {
  .user-body {
    padding: 50px !important;
  }

  .table-users td {
    padding: 19px 17px;
  }

  .table-users thead th {
    border-bottom: 0 !important;
    border-top: 0 !important;
    padding: 19px 17px;
  }

  .container-top {
    padding-top: 110px !important;
    padding-bottom: 110px !important;
  }
}

.down-arrow {
  font-size: 12px;
  line-height: 14px;
}

.container-dashboard {
  padding-top: 50px;
  padding-bottom: 50px;
}

.user-header {
  box-shadow: 1px 1.732px 7px rgba(136, 156, 176, 0.1);
  background: url('/user_background.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-header-bg {
  background-color: #fafafa !important;
}

.avatar-img {
  // border-radius: 50% !important;
}

.btn {
  font-weight: 500 !important;
}

.bg-white {
  background: #fff !important;
}

.user-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 1.732px 7px rgba(136, 156, 176, 0.1);
}

.user-fields {
  padding: 11.5px 20px !important;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ededed;
}

.user-fields span {
  font-size: 14px;
  line-height: 25px;
}

.user-fields span.float-right {
  color: #5d5d5d;
}

.footer-des a i {
  font-size: 16px;
  letter-spacing: -1px;
  color: #1d2b3a;
}

.footer-des a:hover i {
  color: #79589f !important;
}

::-webkit-scrollbar-track {
  width: 8px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 8px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, #79589f),
    color-stop(0.72, #79589f),
    color-stop(0.86, #79589f));
}

.sweet-alert button {
  background-color: #79589f !important;
}

.card-admin .card-body {
  padding: 0 !important;
}

.card-admin {
  background: #fdfdfd !important;
  height: 100%;
  border-radius: 0;
  box-shadow: none !important;
  border-right: 1px solid #dee2e6;
}

.container-admin {
  padding-top: 30px;
  padding-bottom: 30px;
}

.dashboard-side-link,
.submenu-link .menu,
.sub-menu a {
  border-bottom: 1px solid #dee2e6;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  padding: 11.5px 20px;
  display: block;
}

.submenu-link .menu {
  padding: 11.5px 20px 11.5px 15px !important;
}

.dashboard-side-link span,
.dashboard-side-link i,
.submenu-link .menu i {
  transition: 0.1s;
}

.dashboard-side-link span,
.submenu-link .menu span,
.sub-menu a span {
  color: #1d2b3a;
}

.dashboard-side-link:hover i,
.submenu-link .menu:hover i {
  margin-left: 5px;
}

.dashboard-side-link.active span,
.dashboard-side-link.active i {
  margin-left: 0px;
}

.dashboard-side-link.active {
  border-left: 5px solid #79589f;
}


.dashboard-side-link i,
,
.submenu-link .menu i {
  color: #79589f;
  margin-right: 15px;
  font-size: 18px !important;
}

.card-stats .card {
  padding: 32px 0 27px 0;
}

.card-stats h1 {
  line-height: 36px;
  margin-bottom: 0 !important;
  font-weight: 500;
}

.card-stats .col-lg-3 {
  margin-bottom: 30px;
}



.table-users thead th:first-child {
  border-top-left-radius: 5px;
}

.table-users thead th:last-child {
  border-top-right-radius: 5px;
}

.table-users thead tr {
  border-radius: 5px;
  background: #fff;
  color: #79589f;
}

.table-users tbody tr td:first-child {
  border-left: 0 !important;
}

.table-users tbody tr:last-child td {
  border-bottom: 0 !important;
}

.table-users tbody tr td:last-child {
  border-right: 0 !important;
}

.table-users tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

.table-users tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}


.table-users tbody tr {

  border: 0 !important;
  box-shadow: 1px 1.732px 7px rgba(136, 156, 176, 0.1);
  background: #fff;
  color: #1d2b3a;
}

.align-middle {
  vertical-align: middle;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 20px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #79589f;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:hover:after {
  color: #fff;
}

.avatar-upload .avatar-edit input+label:after {
  content: "\f030";
  font-family: 'Font Awesome 5 Free';
  color: #79589f;
  position: absolute;
  top: 6px;
  left: 2px;
  right: 0;
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fa-bars {
  border: 2px solid #79589f;
  box-shadow: 1px 1.732px 7px rgba(136, 156, 176, 0.1);
  color: #79589f;
  padding: 5px;
  border-radius: 5px;
}

.navbar-toggler {
  padding: 0 !important;
}

.navbar-toggler-icon {
  vertical-align: super !important;
}

.stripe-card {
  width: 300px;
  border: 1px solid grey;
}

.stripe-card.complete {
  border-color: green;
}

.action-links i {
  font-size: 20px;
}

.action-links {
  text-align: center;
  padding: 19px 10px !important;
}

.date_select select:nth-child(2) {
  padding-left: 5px !important;
  padding-right: 0px !important;
}

.date_select select {
  width: 32.5% !important;
  display: inline !important;
}

.new-form .edit-label {
  display: none;
}

@media print {

  .no-print,
  .no-print * {
    display: none !important;
  }

  .page-break {
    page-break-after: always;
  }
}

.table-tasks td,
.table-tasks th {
  padding-left: 8px !important;
  padding-right: 5px !important;
  font-size: 13px !important;
}

.table-tasks .action-links i {
  padding: 4px;
}

html {
  overflow-x: hidden !important;
}

.icon-dashboard-mobile {
  margin-top: -5px;
  border: 1px solid;
  float: right;
  font-size: 20px;
}

.table-bordered {
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.banner-header {
  border-bottom: 1px solid #dee2e6;
}

.center-row {
  padding: 15px 15px;
}

.lh-34 {
  line-height: 34px;
}

.lh-36 {
  line-height: 37px;
}

.font-20 {
  font-size: 20px !important;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 768px) {
  .side-small .center-row {
    padding: 9px 0;
  }

  .fixed-side {
    transition: 0.1s;
    width: 24.1%;
    position: fixed;
  }

  .sidebar-admin {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 54px) !important;
  }
}

@media (min-width: 1200px) {
  .fixed-side {
    transition: 0.3s;
    width: 15.8%;
    position: fixed;
  }

  .side-small {
    transition: 0.3s;
    width: 7.3%;
    position: fixed;
  }
}

.icon-sidebar.left {
  display: none;
}

.sidebar-admin::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.sidebar-admin::-webkit-scrollbar {
  width: 4px;
  background-color: transparent !important;
}

.submenu-link.open .menu {
  padding-bottom: 0 !important;
}

.sub-menu a {
  border: none;
  padding: 3px 0;
}

.submenu-link {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #dee2e6;
}

.submenu-link,
.submenu-link .menu,
.submenu-link .sub-menu a {
  transition: 0.3s;
}

.submenu-link::after {
  line-height: 0px;
  font-weight: 900;
  position: absolute;
  top: 25px;
  right: 10px;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
}

.submenu-link.open::after {
  content: "\f077";
}

.submenu-link.no-after::after {
  content: "" !important;
}

.submenu-link {
  border-left: 5px solid transparent;
}

.submenu-link.open {
  border-left: 5px solid #79589f;
}

.submenu-link .menu {
  z-index: 1;
  border-bottom: 0;
}

.submenu-link .sub-menu span {
  font-size: 90%;
  padding-left: 52px !important;
}

.sub-menu a:hover {
  background: #f5f5f5;
}

.admincol-1,
.admincol-2 {
  transition: 0.3s;
}

.side-small .dashboard-side-link,
.side-small .submenu-link .menu {
  padding: 5px 0 0 0 !important;
  text-align: center !important;
}

.side-small .dashboard-side-link i,
.side-small .submenu-link .menu i {
  margin-right: 0 !important;
}

.card-header:first-child {
  border-radius: 10px 10px 0 0;
}

.card.r-1 {
  border-radius: 10px;
  box-shadow: none;
}

.card.r-2 {
  border-radius: 5px;
  box-shadow: none;
}

.card-footer:last-child {
  border-radius: 0 0 10px 10px;
  line-height: 17px;
}

.font-weight-500,
.font-weight-500 a {
  font-weight: 500 !important;
}

.img-card {
  width: 40px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.p-30 {
  padding: 29px !important;
}

.p-c-footer {
  padding: 18px 29px;
}

strong {
  font-weight: 500 !important;
}

.vl-m {
  vertical-align: middle;
}

@media (min-width: 576px) and (max-width: 992px) {

  .container,
  .container-sm {
    max-width: 100%;
  }
}

.ml-sm-n15 {
  margin-left: -15px !important;
}