/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*

*= require_self
*/

// Custom Fonts
// @font-face {
//   font-family: 'Mont';
//   src: url('/fonts/Mont-SemiBold.eot');
//   src: url('/fonts/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
//       url('/fonts/Mont-SemiBold.woff2') format('woff2'),
//       url('/fonts/Mont-SemiBold.woff') format('woff'),
//       url('/fonts/Mont-SemiBold.ttf') format('truetype'),
//       url('/fonts/Mont-SemiBold.svg#Mont-SemiBold') format('svg');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Mont';
//   src: url('/fonts/Mont-Bold.eot');
//   src: url('/fonts/Mont-Bold.eot?#iefix') format('embedded-opentype'),
//       url('/fonts/Mont-Bold.woff2') format('woff2'),
//       url('/fonts/Mont-Bold.woff') format('woff'),
//       url('/fonts/Mont-Bold.ttf') format('truetype'),
//       url('/fonts/Mont-Bold.svg#Mont-Bold') format('svg');
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Mont';
//   src: url('/fonts/Mont-Regular.eot');
//   src: url('/fonts/Mont-Regular.eot?#iefix') format('embedded-opentype'),
//       url('/fonts/Mont-Regular.woff2') format('woff2'),
//       url('/fonts/Mont-Regular.woff') format('woff'),
//       url('/fonts/Mont-Regular.ttf') format('truetype'),
//       url('/fonts/Mont-Regular.svg#Mont-Regular') format('svg');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@import "_variables";

@import "bootstrap";

// Body Responsive Font Size
@media(max-width: 991.98px){
  body{
    font-size: $font-size-base - 0.1rem;
  }
}

@media(max-width: 575.98px){
  body{
    font-size: $font-size-base - 0.15rem;
  }
}
// Body Responsive Font Size End

// Admin Panel Index
.statistics {
  .card{
    border: $border-1;
  }

  .card-body{
    padding: 30px 5px 25px 5px;
  }
  
  .number{
    font-size: 30px;
    font-weight: $font-weight-bold;
    line-height: 35px;
    margin-top: 5px;
  }
}
// Admin Panel Index End

//Footer
footer{
  font-size: $font-size-base;
}

.footer{
  margin-top: auto;
  padding: 15px 7px;
  background-color: #fff;
  border-top: $border-1;
  text-align: center;
}
// Footer End

// Form Fields
input[type="email"], input[type="password"], input[type="text"], input[type="number"], input[type="file"], input[type="date"], input[type="datetime-local"], input[type="month"], input[type="url"], input[type="week"], input[type="search"], input[type="tel"], input[type="time"], select, textarea{
  @extend .form-control;
  box-shadow: none;
  filter: none;
}

select{
  @extend .custom-select;
}

textarea.form-control{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: $border-radius-sm;
  height: auto;
  min-height: 45px;
}

input[type="file"]{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

select[multiple], .nav-tabs .nav-link, .nav-pills .nav-link, .alert, .badge, .list-group, .img-thumbnail{
  border-radius: $border-radius-sm;
}

input[type="checkbox"], input[type="radio"]{
  filter: hue-rotate(45deg);
}

.form-control:-webkit-autofill{
  &, &:hover, &:focus{
    -webkit-text-fill-color: $body-color;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  &::first-line {
    font-family: $font-family-base;
    font-size: $input-font-size;
  }
}

.checkbox, .radio{
  @extend .form-check, .custom-control;
  
  input[type="checkbox"], input[type="radio"]{
    @extend .custom-control-input;
  }

  label{
    @extend .custom-control-label;
  }
}

.radio{
  @extend .custom-radio;

  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: $primary;
    border-color: $primary;
  }
}

.custom-file-label{
  @extend .text-truncate;
}

.checkbox{
  @extend .custom-checkbox;

  .custom-control-label::before {
    border-radius: 2px;
    transition: none;
  }

  .custom-control-input:checked ~ .custom-control-label::after{
    content: "\f00c";
    font-weight: 900;
    top: -1.01px;
    left: -1.34rem;
    font-size: 11px;
    color: #fff;
    font-family: $font-awesome;
    background-image: none;
  }

  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background-color: #fff;
    border-color: $primary;
  }
}

.custom-control-label {
  line-height: 25px;
}
// Form Fields End

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &-track{
    background: transparent;
  }

  &-thumb{
    background: transparent;
    background-color: $primary ;
    border-radius: 3px;
  }
}
// Scrollbar End

// Header
.nav-link{
  font-weight: $font-weight-bold;
  font-size: 16px;
}

.navbar{
  z-index: 1;
  filter: $filter;
}

.navbar.bg-primary{
  .nav-link{
    color: #fff;
  }
  .navbar-brand{
    color: #fff;
  }
}

.dropdown-item i{
  width: 22px;
}

.navbar-light .navbar-toggler {
  border-color: $border-color;
  padding: 3px 5px;
}

@media(max-width: 991.98px){
  .navbar {

    .dropdown-toggle::after{
      display: none;
    }
    
    .dropdown-menu{
      display: block;
      padding: 0;
      border: 0;

      .dropdown-item{
        padding-left: 5px;
        padding-right: 5px;

        i{
          display: none;
        }
      }
    }
  }
}
// Header End

// Buttons
.input-group-append .btn{
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

:focus, button:focus{
  box-shadow: none !important;
  outline: none;
}

.btn-link{
  padding: 0;
}

.btn-block{
  border-radius: $border-radius;
}
// Buttons End

// Devise
.page-center, .center-cards {
  display: flex;
  justify-content: center;

  .card{
    margin: 30px 0;
    display: flex;
    filter: $filter;
  }

  .card-body {
    @extend .p-sm-50, .py-30, .px-3;
  }

  .devise-bg{
    height: 100%;
    background-image: url('/devise-bg.jpg');
    background-size: cover;
    background-position: center center;
  }
}

.page-center {
  height: 100%;
  align-items: center;
}

.btn-google, .btn-facebook {
  display: flex;
  align-items: center;
  height: 45px;

  .devise-social-icons{
    display: inline-flex;
    text-align: center;
    height: 100%;
    
    img{
      margin: auto;
    }
  }
  .devise-social-text{
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: $font-family-poppins;
  }
}

.btn-google{
  border: 1px solid #4285f4;
  background-color: #4285f4;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);

  &:hover {
    border: 1px solid #3367d6;
    background-color: #3367d6;
  }

  .devise-social-icons{
    width: 45px;
    background-color: #fff;

    img{
      width: 18px;
    }
  }
}

.btn-facebook {
  border-radius: 4px;
  background-color: #1877f2;

  &:hover {
    background-color: #4267B2;
  }

  .devise-social-icons img{
    width: 24px;
    margin-left: 9px;
  }

  .devise-social-text{
   font-weight: 600;
  }
}

.btn-submit {
  @extend .btn, .btn-primary, .btn-lg, .btn-block;
}

// Devise End

//  Pricing
.pricing {
  .card {
    border: $border-1;
    border-radius: 0;
  }

  .single-plan:nth-child(3) {
    @extend .plan-main;
  }

  .plan-main{
    .card{
      border-color: $primary;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .card-header{
      background-color: $primary;
      color: #fff;
    }
  }

  .card-header{
    border-radius: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    border-bottom: $border-1;
  }

  .card-title, .card-price{
    font-weight: $font-weight-bold;
    line-height: 1.3;
  }
  
  .card-price {
    font-size: 3rem;
  }
  
  .card-price .period {
    font-size: 0.9rem;
  }
  
  .text-muted {
    opacity: 0.7;
  }

  .btn-choose-plan{
    @extend .btn, .btn-block, .btn-outline-primary, .btn-lg;
    border-radius: 0;
  }

  .btn-group {
    .btn:not(:first-child){
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .btn:not(:last-child){
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  } 
  
  .pricing-tabs{
    .btn.active{
      @extend .btn-primary;
    }
    
    .btn{
      @extend .btn-outline-primary
    }
  } 
  
  .tab-content > .active{
    display: flex;
  }
}

@media(max-width: 1350px){
  .pricing .card-price {
    font-size: 2.3rem;
  }
}

@media (max-width: 399.98px) {
  .input-group input {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
  }
}

@media (max-width: 991.98px) {
  .plan-main {
    order: 1;
  }

  .single-plan{
    order: 2;
  }
  
}

#spinner {
  display: none;
  position: absolute;
  top: calc(50vh - 32px);
  left: calc(50vw - 32px);
  z-index: 9999;
}

.MyCardElement{
  @extend .border, .p-3, .rounded-sm;
}
// Pricing End

// Image Preview
.avatar-group, .avatar-upload .avatar-edit input + label, .avatar-upload .avatar-preview{
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-upload {
  position: relative;

  .avatar-edit {
    position: absolute;
    right: 20px;
    z-index: 1;
    top: 10px;

    input {
      display: none;

      + label {
        background: #fff;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #ededed;
        }
        i{
          font-size: 20px;
          color: $primary;
        }
      }
    }
  }

  .avatar-preview {
    width: 192px;
    height: 192px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
// Image Preview End

// Profile Page
.img-user{
  width: 150px;
  height: 150px;
}

@media(max-width: 767.98px){
  .img-user{
    width: 100px;
    height: 100px;
  }
}

.col-profile{
  background: url('/user_background.png') right / cover no-repeat #f9f9f9;
  place-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

@media(max-width: 575.98px){
  .col-profile{
    background-image: none;
  }
}
// Profile Page End

// Rails Errors Design
#error_explanation ul{
  padding-left: 20px;
  margin-bottom: 15px;
  color: $danger;
}
// Rails Errors Design End

// Floating Labels
.form-floating {
  position: relative;
}

.form-floating > label {
  color: $input-placeholder-color;
  font-size: 14px;
  position: absolute;
  top: calc(22.5px - 10.5px);
  left: 15px;
  margin-bottom: 0;
  pointer-events: none;
  background-color: #fff;
  padding: 0 5px;
  transform-origin: 0 0;
  transition: transform 0.1s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-floating > label {
    transition: none;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder {@content}
  &::placeholder {@content}
}

.form-floating > .form-control{
  @include placeholder {
    color: transparent;
    opacity: 0;
  }
}

@mixin placeholder_shown {
  &:not(:-moz-placeholder-shown) ~ label {@content}
  &:focus ~ label {@content}
  &:not(:placeholder-shown) ~ label {@content}
  &:-webkit-autofill ~ label {@content}
}

$floating-transform: scale(0.85) translateY(-1.5rem) translateX(0rem);

.form-floating > .form-control{
  @include placeholder_shown {
    transform: $floating-transform;
    color: $primary;
    font-weight: $font-weight-bold;
  }
}
// Floating Labels End

// Modals
.modal-header {
  align-items: center;
}
// Modals End

// Payment Settings
.payment {
  .card{
    border: $border-1;
    border-radius: 0;

    &:not(:last-child){
      margin-bottom: 20px;
    }
  }

  .card-footer{
    background-color: #fff;
    border-top: $border-1;
  }
}

// Width Mixin

@mixin width($width) {
  @media(min-width: $width){
    width: $width;
  }
  @media(max-width: $width){
    width: 100%;
  }
}

.w-470 { @include width(470px); }
.w-920 { @include width(920px); }

.mw-470{
  width: 470px;
  max-width: 470px;
}

.table{
  margin-bottom: 0;
  background-color: #fff;
  width: 100% !important;

  th{
    font-weight: $font-weight-bold;
  }
}

.btn .badge{
  padding: 0.38em 0.3rem 0.1rem 0.4em !important;
}

.bs-docs-section h2, .bs-docs-section h1, .bs-docs-section p, .bs-component{
  margin-bottom: 10px;
}

@mixin fontSize($size){
  font-size: $size;
  @media(max-width: 992px){
    font-size: $size - 2px;
  }
  @media(max-width: 767px){
    font-size: $size - 3.5px;
  }
}

.fs-20 { @include fontSize(20px); }
.fs-30 { @include fontSize(30px); }

@mixin fw($weight){
  font-weight: $weight;
}

.fw-100 { @include fw(100); }
.fw-200 { @include fw(200); }
.fw-300 { @include fw(300); }
.fw-400 { @include fw(400); }
.fw-500 { @include fw(500); }
.fw-600 { @include fw(600); }
.fw-700 { @include fw(700); }
.fw-800 { @include fw(800); }
.fw-900 { @include fw(900); }
