@import "_variables";

.nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: $sidebar-width-mobile;
  flex-basis: $sidebar-width-mobile;
}

#layoutSidenav #layoutSidenav_content{
  margin-left: -$sidebar-width-mobile;
}