<footer class="footer">
  <span>YourAppName &copy; 2020 All Rights Reserved | Developed by <a href="https://www.systemplus.com.pk" target="_blank" rel="noopener">System Plus</a>
  </span>
</footer>
<script>
  $('.page-center').closest('main').removeClass('flex-shrink-0').addClass('h-100');
</script>