<div class="footer-bg-image">
    <div class="footer-bg-color pt-4 pb-3">
        <div class="container text-center py-4">
            <div class="row">
              <div class="col-md-3">
                <h3 class="text-light mb-3 text-left">YourAppName</h3>
                <p class="text-light text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-3">
                <h3 class="text-light mb-3">Links</h3>
                <a href="#" class="text-light">Home</a><br>
                <a href="#" class="text-light">About Us</a><br>
                <a href="#" class="text-light">Services</a><br>
                <a href="#" class="text-light">Contact Us</a>
            </div>
            <div class="col-md-3">
                <h3 class="text-light mb-3">Account</h3>
                <a href="#" class="text-light">Login</a><br>
                <a href="#" class="text-light">Sign Up</a>
            </div>
            <div class="col-md-3">
                <h3 class="text-light mb-3">Follow Us</h3>
                <a href="" class="text-light"><i class="fab fa-facebook-square social-size"></i></a>
                <a href="" class="text-light"><i class="fab fa-twitter-square social-size"></i></a>
                <a href="" class="text-light"><i class="fab fa-linkedin social-size"></i></a>
                <a href="" class="text-light"><i class="fab fa-instagram social-size"></i></a>
            </div>
            </div>
        </div>
        <hr class="border-light">
        <p class="text-light mb-0 text-center">Copyright ©2019 YourAppName | Developed <a href="http://systemplus.com.pk" class="text-light">By System Plus</a> </p>
    </div>
</div>