<div class="footer-bg-color">
    <div class="container footer-large">
        <div class="row">
            <div class="col-md-4">
                <img src="/logo.png" width="170">
                <p class="text-left mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="mb-0">Social Links:</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="mb-3">SERVICES</h3>
                        <a href="#" >Exams Mentoring</a><br>
                        <a href="#" >Admissions</a><br>
                        <a href="#" >Resume Writing</a><br>
                        <a href="#" >Professional Serivices</a>
                    </div>
                    <div class="col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="mb-3">SUPPORT</h3>
                        <a href="#" >Be a Mentor</a><br>
                        <a href="#" >Get Mentoring</a><br/>
                        <a href="#" >Admission Guides</a><br/>
                        <a href="#" >Success Stories</a>
                    </div>
                    <div class="col-sm-4 col-6 mt-4 mt-md-0">
                        <h4 class="mb-3">GET IN TOUCH</h3>
                        <a href="" ><i class="fab fa-facebook-square social-size"></i></a>
                        <a href="" ><i class="fab fa-twitter-square social-size"></i></a>
                        <a href="" ><i class="fab fa-linkedin social-size"></i></a>
                        <a href="" ><i class="fab fa-instagram social-size"></i></a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <hr class="my-0">
    <div class="footer-small">
        <p class="mb-0 text-center">Copyright ©2019 YourAppName | Developed By<a href="http://systemplus.com.pk" > System Plus</a> </p>
    </div>
</div>