<div class="banner-header bg-white py-2 d-none d-md-block">
  <div class="row align-items-center">
    <div class="col-md-12 text-right">
      <a class="h6 lh-36 mr-4" href="<%= destroy_user_session_path %>" data-method="delete"><i class="fas fa-sign-out-alt mr-2"></i><span>Log Out</span></a>
    </div>
  </div>
</div>